.flex-container {
    display: flex;
    background-color: white;
}

.img-container {
    display: inline-block;
    white-space: nowrap;
    height: 300px;
    width: 500px;
}

#img_list {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top-list {
    margin-top: 50px;
    display: flex;
}

.top-list h2 input {
    display: inline-block;
    white-space: nowrap;
    padding: 20px;
}

.top-list input {
    margin-left: 20px;
    margin-top: 10px;
    width: 120px;
    height: 25px;
    font-size: 10px;
    text-align: center;
}

.img-detail {
    display: flex;
    margin-top: 20px;
}

.img-detail p {
    margin-left: 30px;
    text-align: justify;
}

.info_bid {
    margin-top: 15px;
}

.bid_control {
    display: flex;
}

.add_winner {
    margin-top: 15px;
    margin-left: 15px;
}

.detail_listing ul {
    list-style-type: none;
    line-height: 2;
}