
.main {
    background-color: black;
    padding: 10px;
    color: white;
}

.auction {
    text-align: center;
    padding: 10px;
}

.hello {
    float: right;
    padding: 10px;
}

.nav {
    position: absolute;
    right: 35%;
    text-align: center;
    padding-bottom: 10px;
    height: 15vh;
    margin-bottom: 10%;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.nav-link:hover {
    color: lightslategray;
}
.nav-item {
    display: inline-block;
    text-align: center;
    transition: all 0.3s;

}

.nav-item:hover {
    transform: scale(1.2);
}
.cont {
    margin-left: 5vw;
}

h3 {
    text-align: center;
    margin-top: 15px;
}

.add_comment  {
    margin-top: 20px;
    margin-left: 5vw;
    display: flex;

}

.add_comment div, form {
    display: inline-block;
}


.add_comment form {
    display: inline-block;
}

.add_comment textarea {
    margin-left: 10px;
    width: 70vw;
    height: 13vh;
    margin-bottom:  2vh;
}

.bi {
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.user-info . {
    margin-left: 2vw;
    margin-top: 4vh;
}

.all_comment {
    margin-top: 4vh;
}

#username_field {
    text-align: center;
}