
.main {
    background-color: black;
    padding: 10px;
    color: white;
}

.auction {
    text-align: center;
    padding: 10px;
}

.hello {
    float: right;
    padding: 10px;
}

.nav {
    position: absolute;
    right:40%;
    text-align: center;
    padding-bottom: 10px;
    height: 15vh;
    margin-bottom: 10%;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.nav-link:hover {
    color: lightslategray;
}
.nav-item {
    display: inline-block;
    text-align: center;
    transition: all 0.3s;

}

.nav-item:hover {
    transform: scale(1.2);
}