{% extends "auctions/layout.html" %}
{% load static %}

{% block ccs_additional %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'auctions/index.css' %}">
{% endblock %}


{% block body %}
    <div class="row">
        <div class="sidebar col-lg-2 col-md-3">
            <h2>Categories</h2>
            <ul>
                {% for cat in categories %}
                <li><a href="{% url 'filtered_index' cat.id %}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="place"></div>
        <div class="main_c col-lg-10 col-md-9">
            <h2>Active Listings</h2>
            <div class="card-columns">
                {% for card in  listings %}
                    <a href="{% url 'listing_detail' card.pk %}">
                        <div class="card">
                            {% if card.photo %}
                                <img class="card-img-top" src="{{ card.photo }}" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ card.name }}</h5>
                                <p class="card-text">{{ card.detail|truncatechars:75 }}</p>
                                <p class="card-text">
                                <p>{% if card.maximum %}
                                        ${{ card.maximum|floatformat:2  }}
                                    {% else %}
                                        ${{ card.start_price }}
                                    {% endif %} </p>
                                <p class="card-text"><small class="text-muted">{{ card.date_of_create }}</small></p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}