{% extends "auctions/layout.html" %}
{% load static %}

{% block ccs_additional %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}">
{% endblock %}

{% block body %}
    <section class="flex_container">
        <div class="info_listing">
            <h2>Listing: {{ listing.name }}</h2>

            {% if request.user.is_authenticated %}
                <form method="post" action={% url "watchlist" listing.id %}>
                    {% csrf_token %}
                    {% if watchlist_flag  %}
                        <input class="btn btn-primary" type="submit" value="Delete from watchlist" name="del_or_add">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Add to watchlist" name="del_or_add">
                    {% endif %}
                </form>
            {% endif %}

            <img class="img-fluid" src="{{ listing.photo }}" alt="Responsive image">
            <p>{{ listing.detail }}</p>
        </div>

        <div class="info_bid">
            <p>${{ max_bid|floatformat:2 }}</p>
            <form method="post">
                {% csrf_token %}
                {{ message }}
                {{ bid_form.errors }}
                {{ bid_form }}
                <input type="hidden">
                <input class="btn btn-primary" type="submit" value="Place Bid" name="add_bid">
            </form>
        </div>

        <div class="detail_listing">
            <ul>
                <li> Listed by: {{ listing.user.username }}</li>
                <li> Category: {{ listing.category.name }}</li>
            </ul>
        </div>

        <section class="container">
            <div class="add_comment">
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form.errors }}
                    {{ comment_form }}
                    <input class="btn btn-primary" type="submit" value="Add comment" name="add_comment">
                </form>
            </div>

            <div class="all_comment">
                {% for com in comments %}
                    {{ com.user.username }}
                    <p>{{ com.detail }}</p>
                    <hr>
                {% empty %}
                    <p>No comments yet...</p>
                {% endfor %}
            </div>

        </section>
    </section>

{% endblock %}