{% extends "auctions/layout.html" %}
{% load static %}

{% block ccs_additional %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}">
{% endblock %}
{% block body %}

    <h2>Listing: {{ listing.name }}</h2>


    <section class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <textarea class="form-control" rows="2" placeholder="Add your comment"></textarea>
                        <div class="mar-top clearfix">
                            <button class="btn btn-sm btn-primary pull-right" type="submit"><i
                                    class="fa fa-pencil fa-fw"></i> Add
                            </button>
                            <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                            <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
                        </div>
                    </div>
                </div>

                <div class="panel">
                    <div class="panel-body">

                        <div class="media-block">
                            <a class="media-left" href="#"><img class="img-circle img-sm" alt="Профиль пользователя"
                                                                src="https://bootstraptema.ru/snippets/icons/2016/mia/1.png"></a>
                            <div class="media-body">
                                <div class="mar-btm">
                                    <a href="#" class="btn-link text-semibold media-heading box-inline">Максим</a>
                                    <p class="text-muted text-sm"><i class="fa fa-mobile fa-lg"></i> - 19-06-2016</p>
                                </div>

                                <p>Секция с комментариями для сайта с подключенным Bootstrap!!!</p>

                                <div class="pad-ver">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-default btn-hover-success" href="#"><i
                                                class="fa fa-thumbs-up"></i></a>
                                        <a class="btn btn-sm btn-default btn-hover-danger" href="#"><i
                                                class="fa fa-thumbs-down"></i></a>

                                </div>
                            </div>
                        </div>

{% endblock %}